<header>
    <nav class="flex flex-row justify-between">
        <div class="font-extrabold text-xl">
            <a href="/">
                <p>Dev 👨‍💻 </p>
                <p>Books</p>
            </a>
            
        </div>
        <ul class="flex flex-row align justify-between w-96 font-bold text-xl">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Books</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>